$color__background-body: #fff;
$color__background-grey: #f5f5f5;
$color__background-header: #a63d41;
$primaryColor: #a63d41;
$color__background-footer: #20262a;

$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #3a3a3a;
$color__link-visited: #3a3a3a;
$color__link-hover: #3a3a3a;
$color__link-grey: #f7f7f9;
$color__link-grey-hover: #ccc;
$color__text-main: #3a3a3a;
$color__text-footer: #e6e6e6;
$color__text-header: #913539;

$color__border-button: #913539;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;