@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,500,700');
$font__main: 'Lato', sans-serif;;
$font__header: 'Montserrat', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.2;
$font__line-height-pre: 1.6;
