.slider {
    margin: 0 auto;
	max-width: 100%;
	margin-top: -130px;

	.slide_viewer {
		height: 101vh;
		overflow: hidden;

		.slide_group {
			height: 100%;
			position: relative;
			width: 100%;
		
			.slide {
				display: none;
				height: 100%;
				position: absolute;
				width: 100%;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center top;
				&:first-child {
					display: block;
				}
				.slider-cap{
					height: 100%;
					width: 100%;
					display: flex;
					align-items:center;
					justify-content: center;
					h1,h2,h3,h4,h5,h6{
						@include font-size(6.4);
						color: #fff;
						text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
						max-width: 1090px;
						text-align: center;
						@include px(800px){
							@include font-size(4);
						}
						@include px(500px){
							@include font-size(2.6);
						}
					}
				}
			  }
		  }
	  }
  }
  
  .frame {
		border: 1px solid #a63d41;
		position: absolute;
		z-index: 1001;
		box-sizing: border-box;
  }

  .slide_buttons {
		position: absolute;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1000;
		bottom: 40px;
		text-align: center;
		height: auto;
  }
  
	.slide_btn {
		margin-right: 1em;
		p {
			font-family: $font__main;
			color: #fff;
			@include font-size(2);
			font-weight: 700;
			padding: 0 5px 0 5px;
			display: inline-block;
			margin: 0;
			line-height: 1;
		}
	}
  .slide_btn.active, .slide_btn:hover {
    cursor: pointer;
  }

