.bestyrelsen-con{
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -1px;
}
.enkeltmedlem{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    width: 33.33%;
    box-sizing: border-box;
    border-right: 1px solid #e2e9ed;
    border-bottom: 1px solid #e2e9ed;
    .top{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
        .img{
            border-radius: 100%;
            width: 180px;
            height: 180px;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    h4{
        @include font-size(2.4);
        margin: 0;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    h5{
        @include font-size(1.8);
        color: #6f808a;
        margin: 0;
    }
    p{
        margin: 0;
        @include font-size(1.6);
    }
    a{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }

    &:nth-child(-n + 3){
       border-top: 1px solid #e2e9ed;
       border-right: 1px solid #e2e9ed;
       border-bottom: 1px solid #e2e9ed;
    }
    &:nth-child(3n+4) { 
        
        border-left: 1px solid #e2e9ed; 
    }
    &:first-child{
        border: 1px solid #e2e9ed;
    }

}
@include px(1000px){
    .bestyrelsen-con{
        padding: 0 10px;
        .enkeltmedlem{
            width: 50%;
             &:nth-child(odd){
                 border-left: 1px solid #e2e9ed;
                 border-bottom: 1px solid #e2e9ed;
                 border-right: 1px solid #e2e9ed;
                 border-top:0;
             }
             &:nth-child(even){
                 border-top: 0;
                 border-left: 0;
                 border-bottom: 1px solid #e2e9ed;
                 border-right: 1px solid #e2e9ed;
             }
             &:first-child{
                 border: 1px solid #e2e9ed;
             }
             &:nth-child(2){
                 border-top: 1px solid #e2e9ed;
             }
        }
    }
}
@include px(800px){
    .bestyrelsen .bestyrelsen-con{
        padding: 0;
        .enkeltmedlem{
            width: 100%;
            border-top: 1px solid #e2e9ed;
            border-right: 1px solid #e2e9ed;
            border-left: 1px solid #e2e9ed;
            border-bottom: 0;
            &:last-child{
                border-bottom: 1px solid #e2e9ed;
            }
        }
    }
}