.nyhedsbrev {
	min-height: 260px;
    padding-top: 50px;
    padding-bottom: 50px;
	h2{
		@include font-size(4);
		font-weight: 700;
		margin-bottom: 30px;
		margin-top: 0;
	}
	p{
		margin-top: 0;
		@include font-size(1.6);
		line-height: 1.5;
	}
	.text-CTA{
		padding-right: 9.169%;
	}
	.lower-CTA{
		justify-content: flex-start;
	}
	.input-CTA{
		padding-left: 10px;
	}
	.mc4wp-form-fields {
	    p {
	        label {
	            width: 100%;
	            float: left;
				margin-bottom: 5px;
			}
	
	        input {
	            width: 100%;
	            height: 40px;
	            background-color: #f5f5f5;
	            margin-bottom: 1%;
	            border: none;
	            
	        }    
	    }
	    input.submit {
	        background-color: black;
	        color: white;
			line-height: 3;
			padding: 0;
	        width: 40%;
			@include font-size(1.6);
			font-weight: 700;
			border: none;
			text-transform: uppercase;
	        border-radius: 1px;
	    }
	}
	@include px(700px){
		h2{
			@include font-size(3.4);
		}
		.lower-CTA{
			flex-direction: column;
		}
		.col-full-6, .col-5{
			width: 100%;
			padding: 0;
		}
	}
}
.site-footer {
	@extend .padding;
	background-color: $color__background-footer;
	h4, p, a {
		color: #fff;
	}
	p, a {
		line-height: 1.4;
	}
	h4{
		@include font-size(2);
		margin: 0 0 20px;

	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	a{
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	.fa-facebook{
		@include font-size(1.8);
	}
	@include px(700px){
		.row-wrapper{
			flex-direction: column;
		}
		.col-4{
			padding-top: 30px;
			width: 100%;
		}
	}
}
.grupper-menu {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
