.site-main{
    p{
        @include font-size(1.6);
    }
    h2{
        @include font-size(4.8);
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: 20px;
    }
    @include px(1000px){
        h2{
            @include font-size(3);
        }
    }
}
.text_wrap{
    height: 280px;
    z-index: 200;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
}
.udstillinger{
    padding: 70px 0;
    background-color: #f5f5f5;
    h2{
        @include font-size(4.8);
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 35px;
    }
    @include px(1100px){
        h2{
            @include font-size(3.4);
        }
        .row-wrapper{
            flex-direction: column;
            .col-4{
                width: 100%;
            }
        }
    }
    .u-href{
        text-decoration: none;
        .img-wrapper{
            position: relative;
            .u-date{
                position: relative;
                width: 100%;
                text-align: center;
                margin: 0;
                z-index: 1000;
                color: #fff;
                @include font-size(1.8);
                font-weight: 700;
                transition: all .7s cubic-bezier(0.71, 0.05, 0.29, 0.9);
                transform: translate(0, 70%);
                opacity: 0;
                will-change: transform, opacity;
            }

            .img-con-u{
                min-height: 280px;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }

            .overlay{
            position: absolute;
            overflow: hidden;
            transition: all .5s ease .2s;
            width: 100%;
            opacity: 0;
            height: 100%;
            will-change: opacity;
                &::before{
                    content: "";
                    position: absolute;
                    z-index: 100;
                    background-color: rgba(0,0,0,.5);
                    width: 100%;
                    height: 100%;
                }
                .img-con-t{
                    @extend .img-con-u;
                    filter:grayscale(100%);
                }
            }
        }
        &:hover{
            .overlay{
                opacity: 1;
                transition: all .5s ease;
            }
            .u-date{
                opacity: 1;
                transform: translate(0, 0);
                transition: all .7s cubic-bezier(0.71, 0.05, 0.29, 0.9) .1s;
            }
        }
        i{
            margin-right: .3em;
        }
        h5{
            @include font-size(2.4);
            font-weight: 700;
            margin: 20px 0;
            line-height: 1;
        }
        p{
            @include font-size(1.6);
        }
    }
}
.articles{
    h2{
        margin: 70px 0 55px 0;
        @include font-size(4);
        font-weight: 700;
    }
    article {
        padding-bottom: 40px;
    }
    .date{
        display: flex;
        flex-direction: column;

        @include font-size(3.6);
        color: #afafaf;
        font-weight: 900;
        text-transform: uppercase;
        font-family: $font__header;
        line-height: 0.9;
        span{
            display: inline-block;
            @include font-size(7);
            line-height: 0.8;
        }
    }
    a{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        h4{
            @include font-size(2.4);
            font-weight: 900;
            margin: 0 0 20px;
            line-height: 1;
        }
        p{
            @include font-size(1.8);
            line-height: 1.3;
            margin: 0;
        }
    }
    @include px(700px){
        h2{
            @include font-size(3.4);
        }
        .date{
            
            padding-right: 10px;
            @include font-size(2);
            span{
                @include font-size(4);
            }
        }
        a{
            h4{
                @include font-size(1.6);
                margin-bottom: 10px;
            }
            p{
                @include font-size(1.6);
            }
        }
        .col-2{
            width: 25%;
        }
        .col-10{
            width: 75%;
        }
    }
}