.grupper-post{
	display: flex;
	align-items: flex-start;
	margin-top: 50px;
	margin-bottom: 50px;
	justify-content: space-between;
	.author-date{
		width: 20%;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		p{
			margin: 5px 0;
		}
		.author-name{
			font-weight: 700;
		}
		.author-img{
			width: 100px;
			height: 100px;
			border-radius: 100%;
		}
	}
	.article-body{
		width: 75%;
	}
} 