.hidden{
    display: none;
}
.members{
    .member-sort{
        padding: 5px;
        margin-bottom: 20px;
    }
    .member-con{
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.15); 
        .row-wrapper{
            max-height: 1000px;
            .member-list{
                margin: 0;
                padding: 0;
                overflow-y: scroll;
                height: 100%;
                &::-webkit-scrollbar-track{
                    background-color: #F5F5F5;
                }
                
                &::-webkit-scrollbar{
                    width: 15px;
                    background-color: #F5F5F5;
                }
                
                &::-webkit-scrollbar-thumb{
                    border-radius: 10px;
                    background-color: #afafaf;
                }
                
                li{
                    list-style: none;
                    line-height: 3;
                    text-align: center;
                    @include font-size(2);
                    font-weight: 700;
                    cursor: pointer;
                    &:hover {
                      background-color: $color__link-grey-hover;
                    }
                }
                .greyLi{
                    background-color: $color__link-grey;
                }
                .active-member{
                    background-color: $primaryColor;
                    a{
                        color: #fff;
                    }
                }
            }
            
        }
        .member-details{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .member-info-con{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 5%;
                margin-bottom: 5%;
                text-align: center;
                .img-con{
                    width: 260px;
                    height: 260px;
                    padding: 15px;
                    border-radius: 100%;
                    background-color: #f7f7f9;
                    overflow: hidden;
                    .member-pic{
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        border-radius: 100%;
                        background-size: cover;
                        background-position: center center;
                    }
                } 
                .member-name{
                    @include font-size(3.4);
                    color: $primaryColor;
                    margin: 25px 0 0 0;
                    line-height: 1;
                }
                .member-area{
                    @include font-size(2.8);
                    font-family: $font__main;
                    margin: 0;
                    line-height: 2;
                }
                .member-address, .member-zip{
                    @include font-size(2);
                    margin: 0;
                    line-height: 1.2;
                }
                .member-text{
                    padding: 0 12%;
                }
            }
            .member-contact-con{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                min-height: 60px;
                padding-left: 12%;
                margin-bottom: 30px;
        
                p{
                    margin: 0;
                }
                .member-mail-con, .member-phone-con, .member-web-con,.member-face-con{
                    width: 40%;
                }
            }
        }
    }
}
@include px(1000px){
    .members{
        padding: 10px;
        .member-con{
            .row-wrapper{
                max-height: none;
                flex-direction: column;
                .member-overview{
                    width: 100%;
                    ul{
                        max-width: 100vw;
                        overflow-x: scroll;
                        overflow-y: hidden;
                        white-space:nowrap;

                        li{
                            display: inline-block;
                            padding: 0 20px;
                            @include font-size(1.6);
                        }
                    }
                } 
            }
            .member-details{
                width: 100%;
                .member-info-con{
                    .member-name{
                        @include font-size(2.6);
                    }
                    .member-area{
                        @include font-size(2);
                    }
                    .member-address, .member-zip{
                        @include font-size(1.8);
                    }
                    .member-text{
                        padding: 0 15px;
                    }
                }
                .member-contact-con{
                    padding-left: 15px;
                    flex-direction: column;
                    .member-mail-con, .member-phone-con, .member-web-con,.member-face-con{
                        width: 100%;
                        padding-top: 10px;
                        text-align: center;
                    }
                }
            }
        }
    }
}