.udstillinger-page{
    @extend .udstillinger;
    background-color: #fff;
    padding-bottom: 0;
    padding-top: 0;
    .container{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .last-con{
        padding-bottom: 0;
    }
        .col-full-4  {
            padding:0 10px 40px 10px;
            @include px(1200px){
                width: 50%;
            }
            @include px(800px){
                width: 100%;
                padding: 0;
            }
        } 
}
.upcoming{
    background-color: #f5f5f5;
}

//styling for single entry 
#udstilling{
    max-width: $container-lg;
    margin: 0 auto;
    .single-udstilling{
        padding-top: 60px;
        .entry-content{
            margin: 0;
            text-align: center;
            padding: 0 15px;
            h1{
                margin: 0 0 20px;
            }
            .udstilling-date{
                color: #858585;
                font-weight: 900;
                @include font-size(1.8);
            }
        }
        .featured-img-udstilling{
            width: 100%;
        }
        @include px(800px){
            padding-top: 0;
            flex-direction: column-reverse;
            .col-full-5, .col-full-7{
                width: 100%;
            }
            .col-full-5{
                margin-bottom: 20px;
            }
        }
    }
}