body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1.6);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

@import "font-awesome/font-awesome";