@charset "UTF-8";
/*!
Theme Name: Pakhuset
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: pakhuset
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Pakhuset is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Layout
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,500,700");
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Helpers
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 1200px) {
    .container {
      padding-left: 20px;
      padding-right: 20px; } }

.row-wrapper {
  min-height: 1px;
  display: flex;
  justify-content: space-between; }

.row-wrapper-left {
  min-height: 1px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

.col-1 {
  width: 6.83333%;
  min-height: 1px; }

.col-margin-1 {
  width: 6.83333%;
  min-height: 1px;
  margin-right: 1.5%; }

.col-full-1 {
  width: 8.33333%;
  min-height: 1px; }

.col-2 {
  width: 15.16667%;
  min-height: 1px; }

.col-margin-2 {
  width: 15.16667%;
  min-height: 1px;
  margin-right: 1.5%; }

.col-full-2 {
  width: 16.66667%;
  min-height: 1px; }

.col-3 {
  width: 23.5%;
  min-height: 1px; }

.col-margin-3 {
  width: 23.5%;
  min-height: 1px;
  margin-right: 1.5%; }

.col-full-3 {
  width: 25%;
  min-height: 1px; }

.col-4 {
  width: 31.83333%;
  min-height: 1px; }

.col-margin-4 {
  width: 31.83333%;
  min-height: 1px;
  margin-right: 1.5%; }

.col-full-4 {
  width: 33.33333%;
  min-height: 1px; }

.col-5 {
  width: 40.16667%;
  min-height: 1px; }

.col-margin-5 {
  width: 40.16667%;
  min-height: 1px;
  margin-right: 1.5%; }

.col-full-5 {
  width: 41.66667%;
  min-height: 1px; }

.col-6 {
  width: 48.5%;
  min-height: 1px; }

.col-margin-6 {
  width: 48.5%;
  min-height: 1px;
  margin-right: 1.5%; }

.col-full-6 {
  width: 50%;
  min-height: 1px; }

.col-7 {
  width: 56.83333%;
  min-height: 1px; }

.col-margin-7 {
  width: 56.83333%;
  min-height: 1px;
  margin-right: 1.5%; }

.col-full-7 {
  width: 58.33333%;
  min-height: 1px; }

.col-8 {
  width: 65.16667%;
  min-height: 1px; }

.col-margin-8 {
  width: 65.16667%;
  min-height: 1px;
  margin-right: 1.5%; }

.col-full-8 {
  width: 66.66667%;
  min-height: 1px; }

.col-9 {
  width: 73.5%;
  min-height: 1px; }

.col-margin-9 {
  width: 73.5%;
  min-height: 1px;
  margin-right: 1.5%; }

.col-full-9 {
  width: 75%;
  min-height: 1px; }

.col-10 {
  width: 81.83333%;
  min-height: 1px; }

.col-margin-10 {
  width: 81.83333%;
  min-height: 1px;
  margin-right: 1.5%; }

.col-full-10 {
  width: 83.33333%;
  min-height: 1px; }

.col-11 {
  width: 90.16667%;
  min-height: 1px; }

.col-margin-11 {
  width: 90.16667%;
  min-height: 1px;
  margin-right: 1.5%; }

.col-full-11 {
  width: 91.66667%;
  min-height: 1px; }

.col-12 {
  width: 98.5%;
  min-height: 1px; }

.col-margin-12 {
  width: 98.5%;
  min-height: 1px;
  margin-right: 1.5%; }

.col-full-12 {
  width: 100%;
  min-height: 1px; }

.padding, .site-footer {
  padding-top: 3em;
  padding-bottom: 2.5em; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #3a3a3a;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.2; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #913539; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 9.375px;
  font-size: 0.58594rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 9.375px;
  font-size: 0.58594rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../pakhuset/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../pakhuset/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../pakhuset/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../pakhuset/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../pakhuset/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../pakhuset/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.fa-handshake-o:before {
  content: ""; }

.fa-envelope-open:before {
  content: ""; }

.fa-envelope-open-o:before {
  content: ""; }

.fa-linode:before {
  content: ""; }

.fa-address-book:before {
  content: ""; }

.fa-address-book-o:before {
  content: ""; }

.fa-vcard:before,
.fa-address-card:before {
  content: ""; }

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: ""; }

.fa-user-circle:before {
  content: ""; }

.fa-user-circle-o:before {
  content: ""; }

.fa-user-o:before {
  content: ""; }

.fa-id-badge:before {
  content: ""; }

.fa-drivers-license:before,
.fa-id-card:before {
  content: ""; }

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: ""; }

.fa-quora:before {
  content: ""; }

.fa-free-code-camp:before {
  content: ""; }

.fa-telegram:before {
  content: ""; }

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: ""; }

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: ""; }

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: ""; }

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: ""; }

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: ""; }

.fa-shower:before {
  content: ""; }

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: ""; }

.fa-podcast:before {
  content: ""; }

.fa-window-maximize:before {
  content: ""; }

.fa-window-minimize:before {
  content: ""; }

.fa-window-restore:before {
  content: ""; }

.fa-times-rectangle:before,
.fa-window-close:before {
  content: ""; }

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: ""; }

.fa-bandcamp:before {
  content: ""; }

.fa-grav:before {
  content: ""; }

.fa-etsy:before {
  content: ""; }

.fa-imdb:before {
  content: ""; }

.fa-ravelry:before {
  content: ""; }

.fa-eercast:before {
  content: ""; }

.fa-microchip:before {
  content: ""; }

.fa-snowflake-o:before {
  content: ""; }

.fa-superpowers:before {
  content: ""; }

.fa-wpexplorer:before {
  content: ""; }

.fa-meetup:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #913539;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 7.5px;
  font-size: 0.46875rem;
  line-height: 1;
  padding: .6em 1em .4em; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa; }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #111; }

select {
  border: 1px solid #ccc; }

textarea {
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #3a3a3a; }
  a:visited {
    color: #3a3a3a; }
  a:hover, a:focus, a:active {
    color: #3a3a3a; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%; }
  .main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .main-navigation ul ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999; }
      .main-navigation ul ul ul {
        left: -999em;
        top: 0; }
      .main-navigation ul ul li:hover > ul,
      .main-navigation ul ul li.focus > ul {
        left: 100%; }
      .main-navigation ul ul a {
        width: 200px; }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
      left: auto; }
  .main-navigation li {
    float: left;
    position: relative; }
  .main-navigation a {
    display: block;
    text-decoration: none; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }
  .main-navigation ul {
    display: block; } }

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 8.75px;
    font-size: 0.54688rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.nyhedsbrev {
  min-height: 260px;
  padding-top: 50px;
  padding-bottom: 50px; }
  .nyhedsbrev h2 {
    font-size: 40px;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 0; }
  .nyhedsbrev p {
    margin-top: 0;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5; }
  .nyhedsbrev .text-CTA {
    padding-right: 9.169%; }
  .nyhedsbrev .lower-CTA {
    justify-content: flex-start; }
  .nyhedsbrev .input-CTA {
    padding-left: 10px; }
  .nyhedsbrev .mc4wp-form-fields p label {
    width: 100%;
    float: left;
    margin-bottom: 5px; }
  .nyhedsbrev .mc4wp-form-fields p input {
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
    margin-bottom: 1%;
    border: none; }
  .nyhedsbrev .mc4wp-form-fields input.submit {
    background-color: black;
    color: white;
    line-height: 3;
    padding: 0;
    width: 40%;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    border-radius: 1px; }
  @media screen and (max-width: 700px) {
    .nyhedsbrev h2 {
      font-size: 34px;
      font-size: 2.125rem; }
    .nyhedsbrev .lower-CTA {
      flex-direction: column; }
    .nyhedsbrev .col-full-6, .nyhedsbrev .col-5 {
      width: 100%;
      padding: 0; } }

.site-footer {
  background-color: #20262a; }
  .site-footer h4, .site-footer p, .site-footer a {
    color: #fff; }
  .site-footer p, .site-footer a {
    line-height: 1.4; }
  .site-footer h4 {
    font-size: 20px;
    font-size: 1.25rem;
    margin: 0 0 20px; }
  .site-footer ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .site-footer a {
    text-decoration: none; }
    .site-footer a:hover {
      text-decoration: underline; }
  .site-footer .fa-facebook {
    font-size: 18px;
    font-size: 1.125rem; }
  @media screen and (max-width: 700px) {
    .site-footer .row-wrapper {
      flex-direction: column; }
    .site-footer .col-4 {
      padding-top: 30px;
      width: 100%; } }

.grupper-menu ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.updated:not(.published) {
  display: none; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.ph-header {
  background: #a63d41;
  font-family: "Montserrat", sans-serif;
  transition: all .4s ease-in-out;
  height: 120px;
  z-index: 5000;
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }
  .ph-header .logo-area {
    float: left;
    border-right: 1px solid #913539; }
    .ph-header .logo-area .logo {
      padding: 10px 23px; }
      .ph-header .logo-area .logo a img {
        height: 100px; }
  .ph-header form {
    float: right; }
  .ph-header .top-con {
    height: 40px; }
    .ph-header .top-con .top {
      border-bottom: 1px solid #913539;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px; }
      .ph-header .top-con .top p {
        color: white; }
      .ph-header .top-con .top .member {
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        font-size: 0.875rem; }
      .ph-header .top-con .top .search-field {
        max-width: 180px;
        background: #a63d41;
        border: none;
        height: 20px;
        border-bottom: 1px solid white;
        border-radius: 0;
        color: white; }
        .ph-header .top-con .top .search-field:focus {
          color: white; }
        .ph-header .top-con .top .search-field::-webkit-input-placeholder {
          color: white; }
      .ph-header .top-con .top .phsubmit {
        display: none; }
      .ph-header .top-con .top .search-submit {
        display: none; }
      .ph-header .top-con .top i {
        color: white;
        font-size: 20px;
        font-size: 1.25rem;
        margin-right: 5px; }
      .ph-header .top-con .top input {
        height: 15px;
        font-size: 15px;
        font-size: 0.9375rem; }

.search {
  display: inline-flex; }

.top-con {
  height: 40px; }
  .top-con .top {
    border-bottom: 1px solid #913539;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; }
    .top-con .top p {
      color: white; }
    .top-con .top .member {
      text-decoration: none;
      color: #fff;
      font-weight: 700;
      font-size: 14px;
      font-size: 0.875rem; }
    .top-con .top .search-field {
      max-width: 180px;
      background: #a63d41;
      border: none;
      border-bottom: 1px solid white;
      border-radius: 0;
      color: white; }
      .top-con .top .search-field:focus {
        color: white; }
      .top-con .top .search-field::-webkit-input-placeholder {
        color: white; }
    .top-con .top .phsubmit {
      display: none; }
    .top-con .top .search-submit {
      display: none; }
    .top-con .top i {
      color: white; }

.bottom {
  transition: all 1s ease;
  height: 80px; }
  .bottom ul#forside-menu {
    margin: 0;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; }
    .bottom ul#forside-menu .current-menu-item a::after {
      opacity: 1;
      transform: translate3d(0, 0, 0); }
    .bottom ul#forside-menu > li {
      list-style: none;
      display: inline-block; }
      .bottom ul#forside-menu > li:hover a::after {
        opacity: 1;
        transform: translate3d(0, 0, 0); }
      .bottom ul#forside-menu > li:focus a::after {
        opacity: 1;
        transform: translate3d(0, 0, 0); }
      .bottom ul#forside-menu > li a::after {
        content: "";
        width: 100%;
        height: 2.5px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #fff;
        opacity: 0;
        transform: translate3d(0, 100%, 0);
        transition: transform 0.2s cubic-bezier(0.84, 0.41, 0, 1.2), opacity 0.2s ease-out; }
      .bottom ul#forside-menu > li a {
        color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 20px;
        font-size: 1.25rem;
        position: relative;
        padding-bottom: 3px;
        display: inline-block; }
        @media screen and (max-width: 1000px) {
          .bottom ul#forside-menu > li a {
            font-size: 16px;
            font-size: 1rem; } }
      .bottom ul#forside-menu > li:hover ul {
        list-style: none;
        display: block; }
        .bottom ul#forside-menu > li:hover ul li {
          padding: 0; }
      .bottom ul#forside-menu > li ul {
        display: none;
        position: absolute;
        margin-left: -10px;
        padding: 25px 0 10px 0;
        background-color: #a63d41; }
        .bottom ul#forside-menu > li ul li a {
          font-size: 16px;
          font-size: 1rem;
          font-weight: 400;
          width: 100%;
          padding: 10px 0 10px 20px;
          min-width: 200px; }
          .bottom ul#forside-menu > li ul li a::after {
            display: none; }

#mmenu {
  display: none; }

@media screen and (max-width: 800px) {
  .hamburger-menu {
    display: inline-block;
    height: 40px;
    margin-right: 20px;
    transition: all 0.3s ease-in-out; }
    .hamburger-menu:hover {
      cursor: pointer; }
    .hamburger-menu .menu-item {
      background: #fff;
      display: block;
      height: 3px;
      margin: 0 0 10px;
      transition: all 0.3s ease-in-out;
      width: 40px; }
    .hamburger-menu.open .menu-item {
      margin: 0 0 5px; }
      .hamburger-menu.open .menu-item:first-child {
        transform: rotate(45deg);
        transform-origin: 10px; }
      .hamburger-menu.open .menu-item:nth-child(2) {
        opacity: 0; }
      .hamburger-menu.open .menu-item:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: 8px; }
  #mmenu {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  #masthead .ph-header {
    max-height: 100px; }
  #masthead .logo-area {
    border: 0;
    width: 66.666%; }
    #masthead .logo-area .logo {
      padding: 10px; }
      #masthead .logo-area .logo img {
        height: 80px; }
  #masthead .top-con {
    display: none; }
  #masthead .mobile-dropdown {
    background-color: #a63d41;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 98px;
    width: 100%;
    display: none; }
    #masthead .mobile-dropdown #mobile-nav {
      width: 100%;
      margin: 0;
      padding: 0; }
    #masthead .mobile-dropdown li {
      list-style: none;
      width: 100%; }
      #masthead .mobile-dropdown li a {
        color: white;
        display: block;
        padding: 15px 0;
        text-align: center;
        text-decoration: none;
        font-size: 24px;
        font-size: 1.5rem;
        border-bottom: 1px solid #812f32; }
    #masthead .mobile-dropdown .sub-menu {
      margin: 0;
      padding: 0; }
      #masthead .mobile-dropdown .sub-menu li {
        background-color: #812f32;
        border-bottom: 1px solid #6e282b; }
        #masthead .mobile-dropdown .sub-menu li a {
          font-size: 20px;
          font-size: 1.25rem;
          border-bottom: 0; } }

.cloned {
  top: 0px;
  z-index: 9999;
  background-color: #a63d41;
  height: 60px; }
  .cloned .menucon .menu-forside-menu-container #forside-menu {
    min-height: auto;
    height: 60px; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.ph-header {
  background: #a63d41;
  font-family: "Montserrat", sans-serif;
  transition: all .4s ease-in-out;
  height: 120px;
  z-index: 5000;
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }
  .ph-header .logo-area {
    float: left;
    border-right: 1px solid #913539; }
    .ph-header .logo-area .logo {
      padding: 10px 23px; }
      .ph-header .logo-area .logo a img {
        height: 100px; }
  .ph-header form {
    float: right; }
  .ph-header .top-con {
    height: 40px; }
    .ph-header .top-con .top {
      border-bottom: 1px solid #913539;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px; }
      .ph-header .top-con .top p {
        color: white; }
      .ph-header .top-con .top .member {
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        font-size: 0.875rem; }
      .ph-header .top-con .top .search-field {
        max-width: 180px;
        background: #a63d41;
        border: none;
        height: 20px;
        border-bottom: 1px solid white;
        border-radius: 0;
        color: white; }
        .ph-header .top-con .top .search-field:focus {
          color: white; }
        .ph-header .top-con .top .search-field::-webkit-input-placeholder {
          color: white; }
      .ph-header .top-con .top .phsubmit {
        display: none; }
      .ph-header .top-con .top .search-submit {
        display: none; }
      .ph-header .top-con .top i {
        color: white;
        font-size: 20px;
        font-size: 1.25rem;
        margin-right: 5px; }
      .ph-header .top-con .top input {
        height: 15px;
        font-size: 15px;
        font-size: 0.9375rem; }

.search {
  display: inline-flex; }

.top-con {
  height: 40px; }
  .top-con .top {
    border-bottom: 1px solid #913539;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; }
    .top-con .top p {
      color: white; }
    .top-con .top .member {
      text-decoration: none;
      color: #fff;
      font-weight: 700;
      font-size: 14px;
      font-size: 0.875rem; }
    .top-con .top .search-field {
      max-width: 180px;
      background: #a63d41;
      border: none;
      border-bottom: 1px solid white;
      border-radius: 0;
      color: white; }
      .top-con .top .search-field:focus {
        color: white; }
      .top-con .top .search-field::-webkit-input-placeholder {
        color: white; }
    .top-con .top .phsubmit {
      display: none; }
    .top-con .top .search-submit {
      display: none; }
    .top-con .top i {
      color: white; }

.bottom {
  transition: all 1s ease;
  height: 80px; }
  .bottom ul#forside-menu {
    margin: 0;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; }
    .bottom ul#forside-menu .current-menu-item a::after {
      opacity: 1;
      transform: translate3d(0, 0, 0); }
    .bottom ul#forside-menu > li {
      list-style: none;
      display: inline-block; }
      .bottom ul#forside-menu > li:hover a::after {
        opacity: 1;
        transform: translate3d(0, 0, 0); }
      .bottom ul#forside-menu > li:focus a::after {
        opacity: 1;
        transform: translate3d(0, 0, 0); }
      .bottom ul#forside-menu > li a::after {
        content: "";
        width: 100%;
        height: 2.5px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #fff;
        opacity: 0;
        transform: translate3d(0, 100%, 0);
        transition: transform 0.2s cubic-bezier(0.84, 0.41, 0, 1.2), opacity 0.2s ease-out; }
      .bottom ul#forside-menu > li a {
        color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 20px;
        font-size: 1.25rem;
        position: relative;
        padding-bottom: 3px;
        display: inline-block; }
        @media screen and (max-width: 1000px) {
          .bottom ul#forside-menu > li a {
            font-size: 16px;
            font-size: 1rem; } }
      .bottom ul#forside-menu > li:hover ul {
        list-style: none;
        display: block; }
        .bottom ul#forside-menu > li:hover ul li {
          padding: 0; }
      .bottom ul#forside-menu > li ul {
        display: none;
        position: absolute;
        margin-left: -10px;
        padding: 25px 0 10px 0;
        background-color: #a63d41; }
        .bottom ul#forside-menu > li ul li a {
          font-size: 16px;
          font-size: 1rem;
          font-weight: 400;
          width: 100%;
          padding: 10px 0 10px 20px;
          min-width: 200px; }
          .bottom ul#forside-menu > li ul li a::after {
            display: none; }

#mmenu {
  display: none; }

@media screen and (max-width: 800px) {
  .hamburger-menu {
    display: inline-block;
    height: 40px;
    margin-right: 20px;
    transition: all 0.3s ease-in-out; }
    .hamburger-menu:hover {
      cursor: pointer; }
    .hamburger-menu .menu-item {
      background: #fff;
      display: block;
      height: 3px;
      margin: 0 0 10px;
      transition: all 0.3s ease-in-out;
      width: 40px; }
    .hamburger-menu.open .menu-item {
      margin: 0 0 5px; }
      .hamburger-menu.open .menu-item:first-child {
        transform: rotate(45deg);
        transform-origin: 10px; }
      .hamburger-menu.open .menu-item:nth-child(2) {
        opacity: 0; }
      .hamburger-menu.open .menu-item:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: 8px; }
  #mmenu {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  #masthead .ph-header {
    max-height: 100px; }
  #masthead .logo-area {
    border: 0;
    width: 66.666%; }
    #masthead .logo-area .logo {
      padding: 10px; }
      #masthead .logo-area .logo img {
        height: 80px; }
  #masthead .top-con {
    display: none; }
  #masthead .mobile-dropdown {
    background-color: #a63d41;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 98px;
    width: 100%;
    display: none; }
    #masthead .mobile-dropdown #mobile-nav {
      width: 100%;
      margin: 0;
      padding: 0; }
    #masthead .mobile-dropdown li {
      list-style: none;
      width: 100%; }
      #masthead .mobile-dropdown li a {
        color: white;
        display: block;
        padding: 15px 0;
        text-align: center;
        text-decoration: none;
        font-size: 24px;
        font-size: 1.5rem;
        border-bottom: 1px solid #812f32; }
    #masthead .mobile-dropdown .sub-menu {
      margin: 0;
      padding: 0; }
      #masthead .mobile-dropdown .sub-menu li {
        background-color: #812f32;
        border-bottom: 1px solid #6e282b; }
        #masthead .mobile-dropdown .sub-menu li a {
          font-size: 20px;
          font-size: 1.25rem;
          border-bottom: 0; } }

.cloned {
  top: 0px;
  z-index: 9999;
  background-color: #a63d41;
  height: 60px; }
  .cloned .menucon .menu-forside-menu-container #forside-menu {
    min-height: auto;
    height: 60px; }

/*--------------------------------------------------------------
## Frontpage
--------------------------------------------------------------*/
.site-main p {
  font-size: 16px;
  font-size: 1rem; }

.site-main h2 {
  font-size: 48px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 20px; }

@media screen and (max-width: 1000px) {
  .site-main h2 {
    font-size: 30px;
    font-size: 1.875rem; } }

.text_wrap {
  height: 280px;
  z-index: 200;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute; }

.udstillinger, .udstillinger-page {
  padding: 70px 0;
  background-color: #f5f5f5; }
  .udstillinger h2, .udstillinger-page h2 {
    font-size: 48px;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 35px; }
  @media screen and (max-width: 1100px) {
    .udstillinger h2, .udstillinger-page h2 {
      font-size: 34px;
      font-size: 2.125rem; }
    .udstillinger .row-wrapper, .udstillinger-page .row-wrapper {
      flex-direction: column; }
      .udstillinger .row-wrapper .col-4, .udstillinger-page .row-wrapper .col-4 {
        width: 100%; } }
  .udstillinger .u-href, .udstillinger-page .u-href {
    text-decoration: none; }
    .udstillinger .u-href .img-wrapper, .udstillinger-page .u-href .img-wrapper {
      position: relative; }
      .udstillinger .u-href .img-wrapper .u-date, .udstillinger-page .u-href .img-wrapper .u-date {
        position: relative;
        width: 100%;
        text-align: center;
        margin: 0;
        z-index: 1000;
        color: #fff;
        font-size: 18px;
        font-size: 1.125rem;
        font-weight: 700;
        transition: all 0.7s cubic-bezier(0.71, 0.05, 0.29, 0.9);
        transform: translate(0, 70%);
        opacity: 0;
        will-change: transform, opacity; }
      .udstillinger .u-href .img-wrapper .img-con-u, .udstillinger-page .u-href .img-wrapper .img-con-u, .udstillinger .u-href .img-wrapper .overlay .img-con-t, .udstillinger-page .u-href .img-wrapper .overlay .img-con-t {
        min-height: 280px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center; }
      .udstillinger .u-href .img-wrapper .overlay, .udstillinger-page .u-href .img-wrapper .overlay {
        position: absolute;
        overflow: hidden;
        transition: all .5s ease .2s;
        width: 100%;
        opacity: 0;
        height: 100%;
        will-change: opacity; }
        .udstillinger .u-href .img-wrapper .overlay::before, .udstillinger-page .u-href .img-wrapper .overlay::before {
          content: "";
          position: absolute;
          z-index: 100;
          background-color: rgba(0, 0, 0, 0.5);
          width: 100%;
          height: 100%; }
        .udstillinger .u-href .img-wrapper .overlay .img-con-t, .udstillinger-page .u-href .img-wrapper .overlay .img-con-t {
          filter: grayscale(100%); }
    .udstillinger .u-href:hover .overlay, .udstillinger-page .u-href:hover .overlay {
      opacity: 1;
      transition: all .5s ease; }
    .udstillinger .u-href:hover .u-date, .udstillinger-page .u-href:hover .u-date {
      opacity: 1;
      transform: translate(0, 0);
      transition: all 0.7s cubic-bezier(0.71, 0.05, 0.29, 0.9) 0.1s; }
    .udstillinger .u-href i, .udstillinger-page .u-href i {
      margin-right: .3em; }
    .udstillinger .u-href h5, .udstillinger-page .u-href h5 {
      font-size: 24px;
      font-size: 1.5rem;
      font-weight: 700;
      margin: 20px 0;
      line-height: 1; }
    .udstillinger .u-href p, .udstillinger-page .u-href p {
      font-size: 16px;
      font-size: 1rem; }

.articles h2 {
  margin: 70px 0 55px 0;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 700; }

.articles article {
  padding-bottom: 40px; }

.articles .date {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-size: 2.25rem;
  color: #afafaf;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  line-height: 0.9; }
  .articles .date span {
    display: inline-block;
    font-size: 70px;
    font-size: 4.375rem;
    line-height: 0.8; }

.articles a {
  text-decoration: none; }
  .articles a:hover {
    text-decoration: underline; }
  .articles a h4 {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0 0 20px;
    line-height: 1; }
  .articles a p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.3;
    margin: 0; }

@media screen and (max-width: 700px) {
  .articles h2 {
    font-size: 34px;
    font-size: 2.125rem; }
  .articles .date {
    padding-right: 10px;
    font-size: 20px;
    font-size: 1.25rem; }
    .articles .date span {
      font-size: 40px;
      font-size: 2.5rem; }
  .articles a h4 {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 10px; }
  .articles a p {
    font-size: 16px;
    font-size: 1rem; }
  .articles .col-2 {
    width: 25%; }
  .articles .col-10 {
    width: 75%; } }

/*--------------------------------------------------------------
## Grupper
--------------------------------------------------------------*/
.grupper-post {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between; }
  .grupper-post .author-date {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center; }
    .grupper-post .author-date p {
      margin: 5px 0; }
    .grupper-post .author-date .author-name {
      font-weight: 700; }
    .grupper-post .author-date .author-img {
      width: 100px;
      height: 100px;
      border-radius: 100%; }
  .grupper-post .article-body {
    width: 75%; }

/*--------------------------------------------------------------
## Udstillinger
--------------------------------------------------------------*/
.udstillinger-page {
  background-color: #fff;
  padding-bottom: 0;
  padding-top: 0; }
  .udstillinger-page .container {
    padding-top: 30px;
    padding-bottom: 30px; }
  .udstillinger-page .last-con {
    padding-bottom: 0; }
  .udstillinger-page .col-full-4 {
    padding: 0 10px 40px 10px; }
    @media screen and (max-width: 1200px) {
      .udstillinger-page .col-full-4 {
        width: 50%; } }
    @media screen and (max-width: 800px) {
      .udstillinger-page .col-full-4 {
        width: 100%;
        padding: 0; } }

.upcoming {
  background-color: #f5f5f5; }

#udstilling {
  max-width: 1200px;
  margin: 0 auto; }
  #udstilling .single-udstilling {
    padding-top: 60px; }
    #udstilling .single-udstilling .entry-content {
      margin: 0;
      text-align: center;
      padding: 0 15px; }
      #udstilling .single-udstilling .entry-content h1 {
        margin: 0 0 20px; }
      #udstilling .single-udstilling .entry-content .udstilling-date {
        color: #858585;
        font-weight: 900;
        font-size: 18px;
        font-size: 1.125rem; }
    #udstilling .single-udstilling .featured-img-udstilling {
      width: 100%; }
    @media screen and (max-width: 800px) {
      #udstilling .single-udstilling {
        padding-top: 0;
        flex-direction: column-reverse; }
        #udstilling .single-udstilling .col-full-5, #udstilling .single-udstilling .col-full-7 {
          width: 100%; }
        #udstilling .single-udstilling .col-full-5 {
          margin-bottom: 20px; } }

/*--------------------------------------------------------------
## Medlemsliste
--------------------------------------------------------------*/
.hidden {
  display: none; }

.members .member-sort {
  padding: 5px;
  margin-bottom: 20px; }

.members .member-con {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.15); }
  .members .member-con .row-wrapper {
    max-height: 1000px; }
    .members .member-con .row-wrapper .member-list {
      margin: 0;
      padding: 0;
      overflow-y: scroll;
      height: 100%; }
      .members .member-con .row-wrapper .member-list::-webkit-scrollbar-track {
        background-color: #F5F5F5; }
      .members .member-con .row-wrapper .member-list::-webkit-scrollbar {
        width: 15px;
        background-color: #F5F5F5; }
      .members .member-con .row-wrapper .member-list::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #afafaf; }
      .members .member-con .row-wrapper .member-list li {
        list-style: none;
        line-height: 3;
        text-align: center;
        font-size: 20px;
        font-size: 1.25rem;
        font-weight: 700;
        cursor: pointer; }
        .members .member-con .row-wrapper .member-list li:hover {
          background-color: #ccc; }
      .members .member-con .row-wrapper .member-list .greyLi {
        background-color: #f7f7f9; }
      .members .member-con .row-wrapper .member-list .active-member {
        background-color: #a63d41; }
        .members .member-con .row-wrapper .member-list .active-member a {
          color: #fff; }
  .members .member-con .member-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .members .member-con .member-details .member-info-con {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5%;
      margin-bottom: 5%;
      text-align: center; }
      .members .member-con .member-details .member-info-con .img-con {
        width: 260px;
        height: 260px;
        padding: 15px;
        border-radius: 100%;
        background-color: #f7f7f9;
        overflow: hidden; }
        .members .member-con .member-details .member-info-con .img-con .member-pic {
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          border-radius: 100%;
          background-size: cover;
          background-position: center center; }
      .members .member-con .member-details .member-info-con .member-name {
        font-size: 34px;
        font-size: 2.125rem;
        color: #a63d41;
        margin: 25px 0 0 0;
        line-height: 1; }
      .members .member-con .member-details .member-info-con .member-area {
        font-size: 28px;
        font-size: 1.75rem;
        font-family: "Lato", sans-serif;
        margin: 0;
        line-height: 2; }
      .members .member-con .member-details .member-info-con .member-address, .members .member-con .member-details .member-info-con .member-zip {
        font-size: 20px;
        font-size: 1.25rem;
        margin: 0;
        line-height: 1.2; }
      .members .member-con .member-details .member-info-con .member-text {
        padding: 0 12%; }
    .members .member-con .member-details .member-contact-con {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      min-height: 60px;
      padding-left: 12%;
      margin-bottom: 30px; }
      .members .member-con .member-details .member-contact-con p {
        margin: 0; }
      .members .member-con .member-details .member-contact-con .member-mail-con, .members .member-con .member-details .member-contact-con .member-phone-con, .members .member-con .member-details .member-contact-con .member-web-con, .members .member-con .member-details .member-contact-con .member-face-con {
        width: 40%; }

@media screen and (max-width: 1000px) {
  .members {
    padding: 10px; }
    .members .member-con .row-wrapper {
      max-height: none;
      flex-direction: column; }
      .members .member-con .row-wrapper .member-overview {
        width: 100%; }
        .members .member-con .row-wrapper .member-overview ul {
          max-width: 100vw;
          overflow-x: scroll;
          overflow-y: hidden;
          white-space: nowrap; }
          .members .member-con .row-wrapper .member-overview ul li {
            display: inline-block;
            padding: 0 20px;
            font-size: 16px;
            font-size: 1rem; }
    .members .member-con .member-details {
      width: 100%; }
      .members .member-con .member-details .member-info-con .member-name {
        font-size: 26px;
        font-size: 1.625rem; }
      .members .member-con .member-details .member-info-con .member-area {
        font-size: 20px;
        font-size: 1.25rem; }
      .members .member-con .member-details .member-info-con .member-address, .members .member-con .member-details .member-info-con .member-zip {
        font-size: 18px;
        font-size: 1.125rem; }
      .members .member-con .member-details .member-info-con .member-text {
        padding: 0 15px; }
      .members .member-con .member-details .member-contact-con {
        padding-left: 15px;
        flex-direction: column; }
        .members .member-con .member-details .member-contact-con .member-mail-con, .members .member-con .member-details .member-contact-con .member-phone-con, .members .member-con .member-details .member-contact-con .member-web-con, .members .member-con .member-details .member-contact-con .member-face-con {
          width: 100%;
          padding-top: 10px;
          text-align: center; } }

/*--------------------------------------------------------------
## Bestyrelsen
--------------------------------------------------------------*/
.bestyrelsen-con {
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -1px; }

.enkeltmedlem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  width: 33.33%;
  box-sizing: border-box;
  border-right: 1px solid #e2e9ed;
  border-bottom: 1px solid #e2e9ed; }
  .enkeltmedlem .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px; }
    .enkeltmedlem .top .img {
      border-radius: 100%;
      width: 180px;
      height: 180px;
      background-repeat: no-repeat;
      background-size: cover; }
  .enkeltmedlem h4 {
    font-size: 24px;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 20px; }
  .enkeltmedlem h5 {
    font-size: 18px;
    font-size: 1.125rem;
    color: #6f808a;
    margin: 0; }
  .enkeltmedlem p {
    margin: 0;
    font-size: 16px;
    font-size: 1rem; }
  .enkeltmedlem a {
    text-decoration: none; }
    .enkeltmedlem a:hover {
      text-decoration: underline; }
  .enkeltmedlem:nth-child(-n + 3) {
    border-top: 1px solid #e2e9ed;
    border-right: 1px solid #e2e9ed;
    border-bottom: 1px solid #e2e9ed; }
  .enkeltmedlem:nth-child(3n+4) {
    border-left: 1px solid #e2e9ed; }
  .enkeltmedlem:first-child {
    border: 1px solid #e2e9ed; }

@media screen and (max-width: 1000px) {
  .bestyrelsen-con {
    padding: 0 10px; }
    .bestyrelsen-con .enkeltmedlem {
      width: 50%; }
      .bestyrelsen-con .enkeltmedlem:nth-child(odd) {
        border-left: 1px solid #e2e9ed;
        border-bottom: 1px solid #e2e9ed;
        border-right: 1px solid #e2e9ed;
        border-top: 0; }
      .bestyrelsen-con .enkeltmedlem:nth-child(even) {
        border-top: 0;
        border-left: 0;
        border-bottom: 1px solid #e2e9ed;
        border-right: 1px solid #e2e9ed; }
      .bestyrelsen-con .enkeltmedlem:first-child {
        border: 1px solid #e2e9ed; }
      .bestyrelsen-con .enkeltmedlem:nth-child(2) {
        border-top: 1px solid #e2e9ed; } }

@media screen and (max-width: 800px) {
  .bestyrelsen .bestyrelsen-con {
    padding: 0; }
    .bestyrelsen .bestyrelsen-con .enkeltmedlem {
      width: 100%;
      border-top: 1px solid #e2e9ed;
      border-right: 1px solid #e2e9ed;
      border-left: 1px solid #e2e9ed;
      border-bottom: 0; }
      .bestyrelsen .bestyrelsen-con .enkeltmedlem:last-child {
        border-bottom: 1px solid #e2e9ed; } }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 16.66667%; }
  .gallery-columns-3 .gallery-item {
    max-width: 25%; }
  .gallery-columns-4 .gallery-item {
    max-width: 33.33333%; }
  .gallery-columns-5 .gallery-item {
    max-width: 41.66667%; }
  .gallery-columns-6 .gallery-item {
    max-width: 50%; }
  .gallery-columns-7 .gallery-item {
    max-width: 58.33333%; }
  .gallery-columns-8 .gallery-item {
    max-width: 66.66667%; }
  .gallery-columns-9 .gallery-item {
    max-width: 75%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/
.slider {
  margin: 0 auto;
  max-width: 100%;
  margin-top: -130px; }
  .slider .slide_viewer {
    height: 101vh;
    overflow: hidden; }
    .slider .slide_viewer .slide_group {
      height: 100%;
      position: relative;
      width: 100%; }
      .slider .slide_viewer .slide_group .slide {
        display: none;
        height: 100%;
        position: absolute;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top; }
        .slider .slide_viewer .slide_group .slide:first-child {
          display: block; }
        .slider .slide_viewer .slide_group .slide .slider-cap {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
          .slider .slide_viewer .slide_group .slide .slider-cap h1, .slider .slide_viewer .slide_group .slide .slider-cap h2, .slider .slide_viewer .slide_group .slide .slider-cap h3, .slider .slide_viewer .slide_group .slide .slider-cap h4, .slider .slide_viewer .slide_group .slide .slider-cap h5, .slider .slide_viewer .slide_group .slide .slider-cap h6 {
            font-size: 64px;
            font-size: 4rem;
            color: #fff;
            text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
            max-width: 1090px;
            text-align: center; }
            @media screen and (max-width: 800px) {
              .slider .slide_viewer .slide_group .slide .slider-cap h1, .slider .slide_viewer .slide_group .slide .slider-cap h2, .slider .slide_viewer .slide_group .slide .slider-cap h3, .slider .slide_viewer .slide_group .slide .slider-cap h4, .slider .slide_viewer .slide_group .slide .slider-cap h5, .slider .slide_viewer .slide_group .slide .slider-cap h6 {
                font-size: 40px;
                font-size: 2.5rem; } }
            @media screen and (max-width: 500px) {
              .slider .slide_viewer .slide_group .slide .slider-cap h1, .slider .slide_viewer .slide_group .slide .slider-cap h2, .slider .slide_viewer .slide_group .slide .slider-cap h3, .slider .slide_viewer .slide_group .slide .slider-cap h4, .slider .slide_viewer .slide_group .slide .slider-cap h5, .slider .slide_viewer .slide_group .slide .slider-cap h6 {
                font-size: 26px;
                font-size: 1.625rem; } }

.frame {
  border: 1px solid #a63d41;
  position: absolute;
  z-index: 1001;
  box-sizing: border-box; }

.slide_buttons {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  bottom: 40px;
  text-align: center;
  height: auto; }

.slide_btn {
  margin-right: 1em; }
  .slide_btn p {
    font-family: "Lato", sans-serif;
    color: #fff;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0 5px 0 5px;
    display: inline-block;
    margin: 0;
    line-height: 1; }

.slide_btn.active, .slide_btn:hover {
  cursor: pointer; }
